//Variables +++++++++++++++++++++++++++++++++++++++

//Colors 
$white: #ffffff;
$beige: #f1ebe5;
$dark_beige: #99928c;
$darker_beige: #5c5855;
$blue: #23497Bff;
$dark_blue: #0A233Eff;
$orange: #FF9326ff;
$dark_orange: #C37A45ff;
$error_red: rgb(218, 81, 81);


//Breakpoints
$tablet: 768px;
$laptop: 1280px;
$desktop: 1600px;
$desktop_large: 2200px;


// mixins +++++++++++++++++++++++++++++++++++++++

@mixin responsive($size) {
  @media only screen and (min-width: $size) {
    @content
  }
}

// Fonts +++++++++++++++++++++++++++++++++++++++

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../public/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../public/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../public/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../public/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../../public/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

// Reset +++++++++++++++++++++++++++++++++++++++
body, button, input , textarea{
  font-family: "Roboto-Regular";
  color: $darker_beige;
  font-size: 14px;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  height: 100svh;
  background-color: $white;
  position: relative;
  overflow: hidden;
}

.app {
  padding: 40px 15px;
  @include responsive($laptop) {
    display: flex;
    gap: 20px;
    padding: 0;
  }
  .reminder-message {
    position: absolute;
    bottom: 50px;
    left: 50%;
    translate: -50% 0;
  }
}

.desktop-main {
  @include responsive($laptop) {
    width: 100%;
    padding: 150px 30px 0 0;
    display: flex;
    gap: 2vw;
  }
}

.disabled {
  pointer-events: none;
}
.visible {
  opacity: 1 !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.show-flex {
  display: flex !important;
}
.show-block {
  display: block !important;
}