.calendar {
    width: 700px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    @include responsive($desktop) {
        width: 900px;
    }
    @include responsive($desktop_large) {
        width: 1000px;
    }

    &__months {
        width: 100%;
        height: 0;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        translate: 0 -70px;
        border-bottom: 1px solid $light_blue;

        &-item {
            font-size: 1rem;
            cursor: pointer;
            transition: font-size 300ms;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            &:hover {
                font-size: 1.2rem;
            }
        }
        .selected-month {
            font-size: 1.7rem;
            font-family: "Roboto-Bold";
            color: $light_green;
        }
    }

    &__days {
        width: calc(100% - 30px);
        height: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        translate: 16px 0;
        @include responsive($desktop) {
            width: calc(100% - 60px);
            translate: 30px 0;
            font-size: 1.3rem;
        }
        @include responsive($desktop_large) {
            width: calc(100% - 80px);
            translate: 40px 0;
        }

        &-item {
            width: 96px;
            display: flex;
            justify-content: center;
        }
    }

    &__grid {
        position: relative;
        width: 100%;
        // height: 500px;

        &-outline {
            width: 100%;
            position: absolute;
            pointer-events: none;
        }
        .calendar-cells {
            position:absolute;
            top: 26px;
            left: 17px;
            @include responsive($desktop) {
                top: 33px;
                left: 21px;
            }
            @include responsive($desktop_large) {
                top: 37px;
                left: 24px;
            }


            &__row {
                display: flex;
    
                .row-cell {
                    height: 76px;
                    width: 95.5px;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    cursor: pointer;
                    &:hover > .cell-plus-icon {
                        display: block;
                    }
                    @include responsive($desktop) {
                        height: 98px;
                        width: 122.7px;
                    }
                    @include responsive($desktop_large) {
                        height: 109px;
                        width: 136.3px;
                    }

                    .cell-date {
                        font-family: "Roboto-Medium";
                        font-size: 1rem;
                    }

                    .cell-plus-icon {
                        display: none;
                        width: 20px;
                        height: 20px;
                    }

                    .cell-number-of-notices {
                        width: 100%;
                        color: $light_green;
                    }
                    
                }
                .selected-cell {
                    background-color: $light_green;

                    .cell-date {
                        color: $dark_blue;
                    }
                    .cell-number-of-notices {
                        color: $dark_blue;
                    }
                }
                .disabled-cell {
                    background-color: $darker_blue;
                    &:hover > .cell-plus-icon {
                        display: none;
                    }
                }
            }
        }
    }
}