.calendar {
    width: 700px;
    display: flex;
    flex-direction: column;
    @include responsive($desktop) {
        width: 900px;
    }
    @include responsive($desktop_large) {
        width: 1400px;
    }

    &__months {
        width: 100%;
        height: 0;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        z-index: 100;
        translate: 0 -70px;
        border-bottom: 1px solid $dark_beige;

        &-item {
            font-size: 1rem;
            color: $dark_beige;
            cursor: pointer;
            transition: font-size 300ms;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            &:hover {
                font-size: 1.2rem;
            }
        }
        .selected-month {
            font-size: 1.7rem;
            font-family: "Roboto-Bold";
            color: $orange;
        }
        .calendar__year {
            position: absolute;
            right: 0;
            bottom: -28px;
            display: flex;
            gap: 10px;
            cursor: pointer;

            &-text {
                font-size: 1.3rem;
                font-family: "Roboto-Bold";
                color: $orange;
            }
            &-dropdown {
                padding: 10px 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 100%;
                background-color: $white;
                border: 1px solid $orange;

                span {
                    height: 25px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    color: $orange;
                    cursor: pointer;

                    &:hover {
                        background-color: $orange;
                        color: $darker_beige;
                    }
                }
            }
        }
    }

    &__days {
        width: calc(100% - 30px);
        height: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        translate: 16px 0;
        @include responsive($desktop) {
            width: calc(100% - 60px);
            translate: 30px 0;
            font-size: 1.3rem;
        }
        @include responsive($desktop_large) {
            width: calc(100% - 151px);
            translate: 74px 0;
        }

        &-item {
            width: 96px;
            display: flex;
            justify-content: center;
            color: $dark_beige;
        }
    }

    &__grid {
        position: relative;
        width: 100%;
        // height: 500px;

        &-outline {
            width: 100%;
            position: absolute;
            pointer-events: none;
        }
        .calendar-cells {
            position:absolute;
            top: 26px;
            left: 17px;
            @include responsive($desktop) {
                top: 33px;
                left: 21px;
            }
            @include responsive($desktop_large) {
                top: 35px;
                left: 33px;
            }


            &__row {
                display: flex;
    
                .row-cell {
                    height: 76px;
                    width: 95.5px;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    cursor: pointer;
                    overflow: hidden;
                    &:hover > .cell-plus-icon {
                        display: block;
                    }
                    @include responsive($desktop) {
                        height: 98px;
                        width: 122.7px;
                    }
                    @include responsive($desktop_large) {
                        height: 104px;
                        width: 190.8px;
                    }

                    .cell-date {
                        font-family: "Roboto-Medium";
                        font-size: 1rem;
                        color: $dark_beige;
                    }

                    .cell-plus-icon {
                        display: none;
                        width: 20px;
                        height: 20px;
                    }

                    .cell-number-of-notices {
                        width: 100%;
                        color: $dark_beige;
                    }
                    
                }
                .selected-cell {
                    background-color: $orange;

                    .cell-date {
                        color: $darker_beige;
                    }
                    .cell-number-of-notices {
                        color: $darker_beige;
                    }
                }
                .disabled-cell {
                    background-color: $darker_beige;
                    &:hover > .cell-plus-icon {
                        display: none;
                    }
                }
            }
            &__loader {
                translate: 0 50px;
                color: $orange;
                font-family: "Roboto-Medium";
                font-size: 1.2rem;
                animation-name: loader;
                animation-duration: 1700ms;
                animation-iteration-count: infinite;
            }
            @keyframes loader {
                0% {opacity: 1;}
                50% {opacity: 0;}
                100% {opacity: 1;}
            }
        }
    }
}