.day-bar {
    height: calc(100svh - 154px);
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $dark_beige;
    overflow-y: scroll;

    &__day {
        width: 100%;
        font-size: 1.3rem;
        padding: 5px 0;
        color: $dark_blue;
        display: flex;
        justify-content: center;
    }
    .chosen-day {
        background-color: $dark_beige;
    }
}