.login-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        width: 90vw;
        max-width: 300px;
        background-color: $dark_blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px;

        &-title {
            color: $beige;
            font-family: "Roboto-Bold";
            font-size: 1.6rem;
        }

        .error-message {
            color: $error_red;
        }
        &-inputs {
            width: 100%;
            &-group {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                .login-input {
                    height: 30px;
                    color: $beige;
                    padding: 0 5px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid $beige;
                }
                .login-input-label {
                    color: $beige;
                }
            }
        }
        &-buttons {
            display: flex;
            gap: 10px;
            .login-btn {
                width: 100px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $dark_blue;
                background-color: $beige;
                border: none;
                transition: 100ms;
                cursor: pointer;

                &:hover {
                    color: $beige;
                    background-color: $dark_blue;
                    border: 1px solid $beige;
                }
            }
            .loading-login {
                width: 20px;
                height: 20px;
                border: 2px solid #16F4D0;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
            }
            
            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            } 
        }
        .forgot-password {
            color: $beige;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}