.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw; 
    backdrop-filter: blur(3px);
    z-index: 100;

    &__body {
        padding: 30px 0;
        width: 300px;
        background-color: $dark_blue;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;

        &-text {
            color: $beige;
            font-family: "Roboto-Medium";
            font-size: 1rem;
        }
        &-buttons {
            display: flex;
            gap: 20px;

            .modal-btn {
                color: $dark_blue;
                border: none;
                padding: 10px 20px;
                background-color: $beige;
                border-radius: 5px;
                cursor: pointer;
                font-family: "Roboto-Medium";
                transition: background-color 200ms;

                &:hover {
                    background-color: $dark_blue;
                    color: $beige;
                    outline: 1px solid $beige;
                }
            }
        }
    }
}