.new-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5px;

    @include responsive($laptop) {
        flex-grow: 2;
        min-width: 300px;
        max-width: 350px;
        padding: 0;
    }

    &__title {
        font-size: 1.2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-group { 
            display: flex;
            flex-direction: column;
            gap: 4px;

            .form-input {
                background: none;
                border: 1px solid $dark_beige;
                height: 40px;
                border-radius: 5px;
                padding: 10px;
            }
            .field-required { 
                border: 2px solid $error_red;
            }
            .number-input::-webkit-outer-spin-button,
            .number-input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .number-input[type=number]{
                -moz-appearance: textfield;
            }
            .form-label {
                color: $darker_beige;
            }
        }
        .date-group, .reminder-time {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            
            .dropdown-field {
                border: 1px solid $dark_beige;
                width: 23.5%;
                padding: 10px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                position: relative;
                justify-content: space-between;
                cursor: pointer;

                .month-value, .day-value, .year-value {
                    color: $darker_beige;
                }

                .drop-down-icon {
                    width: 15px;
                    pointer-events: none;
                    user-select: none;
                }
                &__drop-down {
                    display: flex;
                    width: 100%;
                    max-height: 200px;
                    flex-direction: column;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    border: 1px solid $dark_beige;
                    background-color: $white;
                    border-radius: 5px;
                    overflow-y: scroll;
                    scrollbar-width: thin;
                    scrollbar-color: $darker_beige $white;

                    &-option {
                        padding: 5px 10px;
                        width: 100%;
                        color: $darker_beige;

                        &:hover {
                            background-color: $darker_beige;
                            color: $beige;
                        }
                    }
                    .selected-option {
                        background-color: $darker_beige;
                        color: $beige;
                    }
                }
                &__drop-down::-webkit-scrollbar {
                    display: none;
                }
            }
            .month-dropdown {
                width: 50%;
            }
            .field-required { 
                border: 2px solid red;
            }
            .date-label {
                width: 100%;
            }
            .reminder-time__label {
                width: 100%;
            }
        }
        .reminder-time {
            width: 60%;
            align-items: center;

            &__hour-value, &__minute-value {
                    text-align: center;
                    width: 100%;
            }
        }
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .save-btn, .cancel-btn {
            width: 36%;
            height: 35px;
            max-width: 150px;
            background-color: $darker_beige;
            border: none;
            color: $beige;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: 200ms;

            &:hover {
                color: $darker_beige;
                background-color: $beige;
                border: 1px solid $darker_beige;
            }
        }
    }
}